version: '3'
services:
  nginx:
    image: nginx:latest
    ports:
      - "8080:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app
    # network_mode: "host" will probably not work on mac

  app:
    build: .
    expose:
      - "8080"
